@import 'variables';
@import 'mixin';

@font-face {
  font-family: 'roboto_thin';
  src: url('/typo/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto_medium';
  src: url('/typo/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'shrikhand';
  src: url('/typo/Shrikhand-Regular.ttf') format('truetype');
}

.logo {
  background: white;
  font-family: 'shrikhand';
  font-size: xx-large;
  text-align: center;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
}
.arrow {
  margin-right: 60px;
}

.lieu {
  font-size: large;
  font-family: 'roboto_medium';
  color: rgb(51, 47, 47);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  background: lighten($color: $primary, $amount: 35%);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75) inset;
  p {
    margin-left: 10px;
  }
}

.presentation {
  background: lighten($color: $tertiary, $amount: 20%);
  display: flex;
  flex-direction: column;
  padding: 20px;

  h1 {
    font-family: 'roboto_medium';
    font-size: x-large;
    text-align: center;
    padding: 0 30px 0px 30px;
  }
  p {
    font-family: 'roboto_thin';
    font-size: medium;
    text-align: center;
    padding: 0 20px 10px 20px;
  }
}

.btn {
  background: rgb(255, 121, 218);
  background: radial-gradient(circle, #ff79da 0%, #9356dc 67%);
  width: 60%;
  align-self: center;
  color: white;
  font-family: 'roboto_medium';
  text-align: center;
  border-radius: 25px;
  padding: 15px;

  &--commande {
    padding: 10px;
    margin-top: 20px;
  }
}

section {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;

  h2 {
    font-family: 'roboto_medium';
    font-size: x-large;
  }
}

.bouton {
  font-family: 'roboto_medium';
  display: flex;
  justify-content: space-evenly;
  background: lighten($color: $tertiary, $amount: 20%);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 5px 10px rgb(192, 190, 190);

  &:hover {
    background: $tertiary;
  }

  .manual {
    position: relative;
    right: 30px;
  }

  .ring {
    width: 22px;
    height: 22px;
    color: white;
    border-radius: 50%;
    font-family: 'roboto_medium';
    display: flex;
    justify-content: center;
    background: $primary;
    text-align: center;
    position: relative;
    left: -55px;

    span {
      position: relative;
      padding: 0;
      bottom: 1px;
      font-family: 'roboto_medium';
    }
  }

  .picto {
    display: flex;

    i {
      color: rgb(90, 87, 87);
      font-size: larger;
      position: relative;
      right: 35px;
    }
  }
}
.restaurant {
  background: lighten($color: $tertiary, $amount: 20%);

  h3 {
    font-family: 'roboto_medium';
    font-size: x-large;
  }
  .card {
    background: white;
    height: 250px;
    width: 350px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 10px 5px 10px rgb(192, 190, 190);
  }

  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin-bottom: 5px;
  }
  .new_frame {
    background: lighten($color: $tertiary, $amount: 20%);
    padding: 3px;
    color: gray;
    width: 80px;
    border-radius: 2px;
    position: relative;
    left: 250px;
    bottom: 230px;
    text-align: center;
  }
  .name_heart {
    display: flex;
    justify-content: space-between;
  }

  .name_place {
    padding-left: 20px;
  }

  a {
    text-decoration-line: none;
    color: black;
    font-family: 'roboto_medium';
    font-size: large;
  }
  p {
    font-family: 'roboto_thin';
    line-height: 1px;
  }
  .heart {
    padding-right: 20px;
  }
}
footer {
  background: rgb(51, 47, 47);
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  p {
    font-family: 'roboto_medium';
  }
}
.mini_logo {
  font-family: 'shrikhand';
  font-size: larger;
}
.propose {
  font-family: 'roboto_medium';
  display: flex;
  align-items: center;
  margin-bottom: -15px;
  p {
    padding-left: 15px;
  }
}
/*propriétés restaurants**************************************************************/

.band {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.banner {
  width: 100%;

  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
}
.restaurant_meal {
  background: lighten($color: $tertiary, $amount: 20%);
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -60px;
  padding: 20px 20px 50px 20px;
  margin-bottom: -60px;
  .restaurant_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'shrikhand';
    i {
      font-size: x-large;
    }
  }
  .meal {
    font-family: 'roboto_thin';
    padding-bottom: 7px;
    margin-right: 200px;
    border-bottom: 2px solid gray;
    text-transform: uppercase;
  }
}
.bouton_meal {
  font-family: 'roboto_thin';
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  padding: 0 10px 0 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 5px 10px rgb(192, 190, 190);
  .meal_description {
    line-height: 10px;
    font-size: small;
    span {
      font-family: 'roboto_medium';
      font-size: medium;
    }
  }
  .price {
    font-family: 'roboto_medium';
    padding-bottom: 10px;
  }
}

/*media queries******************************************************************/

@media screen and (min-width: 1024px) {
  .btn {
    width: 30%;
  }

  section {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    h2 {
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
    }
    .ring {
      margin-left: 10px;
    }
  }

  .bouton {
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  footer {
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    .other {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p {
        padding-left: 70px;
      }
    }
  }
}
