$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

.logo {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 20px;

  & img {
    width: 50%;
  }
}

.lieu {
  background: $primary;
}
