@import 'variables';
@import 'mixin';

@font-face {
  font-family: 'roboto_thin';
  src: url('/typo/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto_medium';
  src: url('/typo/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'shrikhand';
  src: url('/typo/Shrikhand-Regular.ttf') format('truetype');
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  height: 100%;
  width: 100%;

  background-color: white;

  animation-name: anim_spinner;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  span {
    padding: 10px;
    border-radius: 15px;
  }

  i {
    color: $primary;
  }
}

@keyframes anim_spinner {
  0% {
    z-index: 10;
    opacity: 1;
  }

  85% {
    z-index: 10;
    opacity: 1;
  }

  100% {
    z-index: -10;
    opacity: 0;
  }
}

.logo {
  background: white;
  font-family: 'shrikhand';
  font-size: xx-large;
  text-align: center;
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
  box-shadow: 0 1px 2px #9f9f9f;
}
.arrow {
  margin-right: 60px;
}

.lieu {
  font-size: large;
  font-family: 'roboto_medium';
  color: rgb(51, 47, 47);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  background-color: #eaeaea;
  margin-top: 1px;
  p {
    margin-left: 10px;
  }
}

.presentation {
  background: lighten($color: $tertiary, $amount: 20%);
  display: flex;
  flex-direction: column;
  padding: 20px;

  h1 {
    font-family: 'roboto_medium';
    font-size: x-large;
    text-align: center;
    padding: 0 30px 0px 30px;
  }
  p {
    font-family: 'roboto_thin';
    font-size: medium;
    text-align: center;
    padding: 0 20px 10px 20px;
  }
}

.btn {
  background: linear-gradient(-195deg, $secondary, $primary);
  width: 60%;
  align-self: center;
  color: white;
  font-family: 'roboto_medium';
  text-align: center;
  border-radius: 25px;
  padding: 15px;
  transform: scale(1);
  transition: background-color 1s;

  &--commande {
    padding: 10px;
    margin-top: 20px;
  }

  &:hover {
    background-color: darken($color: $secondary, $amount: 30%);
  }
}

section {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;

  h2 {
    font-family: 'roboto_medium';
    font-size: x-large;
  }
}

.bouton {
  font-family: 'roboto_medium';
  display: flex;
  justify-content: space-evenly;
  background: lighten($color: $tertiary, $amount: 20%);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 5px 10px rgb(192, 190, 190);

  &:hover {
    background-color: #f5edff;

    transition: all 500ms ease-in-out;

    .picto {
      color: #9356dc;

      transition: all 500ms ease-in-out;
    }
  }

  .manual {
    position: relative;
    right: 30px;
  }

  .ring {
    width: 22px;
    height: 22px;
    color: white;
    border-radius: 50%;
    font-family: 'roboto_medium';
    display: flex;
    justify-content: center;
    background: $primary;
    text-align: center;
    position: relative;
    left: -45px;

    span {
      position: relative;
      padding: 0;
      top: 1px;
      font-family: 'roboto_medium';
      font-size: small;
    }
  }

  .picto {
    display: flex;

    i {
      color: rgb(90, 87, 87);
      font-size: larger;
      position: relative;
      right: 35px;
    }
  }
}
.restaurant {
  background: lighten($color: $tertiary, $amount: 20%);

  h3 {
    font-family: 'roboto_medium';
    font-size: x-large;
  }
  .card {
    background: white;
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 10px 5px 10px rgb(192, 190, 190);
  }

  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin-bottom: 5px;
  }
  .new_frame {
    background: lighten($color: $tertiary, $amount: 20%);
    padding: 3px;
    color: gray;
    width: 80px;
    border-radius: 2px;
    position: relative;
    left: 220px;
    bottom: 230px;
    text-align: center;
  }
  .name_heart {
    display: flex;
    justify-content: space-between;
  }

  .name_place {
    padding-left: 20px;
  }

  a {
    text-decoration-line: none;
    color: black;
    font-family: 'roboto_medium';
    font-size: large;
  }
  p {
    font-family: 'roboto_thin';
    line-height: 1px;
  }
}
.heart {
  padding-right: 20px;

  .far.fa-heart {
    position: relative;
    left: 18px;
    opacity: 1;
    transition: opacity;
  }

  .fas.fa-heart {
    color: $primary;
    background-clip: border-box;

    transform: scale(0);
    transition: transform 1s ease-in-out;
  }

  &:checked .fas.fa-heart {
    color: $primary;
  }

  &:hover .far.fa-heart {
    opacity: 0;
    transition: opacity;
    transition-delay: 1s;
  }

  &:hover .fas.fa-heart {
    transform: scale(1);

    transition: transform 1s ease-in-out;
  }
}

footer {
  background: rgb(51, 47, 47);
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  p {
    font-family: 'roboto_medium';
  }
}
.mini_logo {
  font-family: 'shrikhand';
  font-size: larger;
}
.propose {
  font-family: 'roboto_medium';
  display: flex;
  align-items: center;
  margin-bottom: -15px;
  p {
    padding-left: 15px;
  }
}
/*propriétés restaurants**************************************************************/

.band {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.banner {
  width: 100%;

  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
}
.restaurant_meal {
  background: lighten($color: $tertiary, $amount: 20%);
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -60px;
  padding: 20px 20px 50px 20px;
  margin-bottom: -60px;

  .restaurant_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'shrikhand';
    i {
      font-size: x-large;
    }
  }
  .meal {
    font-family: 'roboto_thin';
    padding-bottom: 7px;
    margin-right: 200px;
    border-bottom: 2px solid gray;
    text-transform: uppercase;
  }
}
.bouton_meal {
  font-family: 'roboto_thin';
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  width: 285px;
  padding: 0 10px 0 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 5px 10px rgb(192, 190, 190);

  animation-name: anim_meal;
  animation-duration: 1000ms;
  animation-iteration-count: 1;

  transform: translateY(10px);
  opacity: 0;

  animation-fill-mode: forwards;

  .meal_description {
    line-height: 10px;
    font-size: small;
    span {
      font-family: 'roboto_medium';
      font-size: medium;
    }
  }
  .price {
    font-family: 'roboto_medium';
    padding-bottom: 10px;
  }
}

/*media queries******************************************************************/

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .logo {
    width: 50%;
    display: flex;
    justify-content: left;
    margin-left: 20px;
  }

  .lieu {
    width: 20%;
    box-shadow: none;
  }

  .btn {
    width: 30%;
    margin-bottom: 50px;
  }

  .presentation {
    width: 100%;

    h1 {
      font-size: xx-large;
    }
  }

  section {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;

    h2 {
      width: 100%;
      font-size: xx-large;
      text-align: center;
      padding-bottom: 20px;
    }
    .ring {
      margin-left: 10px;
    }
  }
  .restaurant {
    display: flex;
    flex-direction: row;
    h3 {
      width: 100%;
      text-align: center;
      font-size: xx-large;
      padding-bottom: 20px;
    }
    .card {
      width: 20%;
    }
  }

  .bouton {
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  footer {
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    .other {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p {
        padding-left: 70px;
      }
    }
  }
  /**************************** pages restaurants**********************************/
  .banner {
    max-width: 100%;
    img {
      height: 360px;
    }
  }
  .restaurant_meal {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .restaurant_name {
      width: 100%;
      display: flex;
      justify-content: left;
      h1 {
        font-size: xx-large;
      }
      i {
        margin-left: 30px;
      }
    }

    .long_meal {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .btn--commande {
    margin-right: 15%;
    margin-top: 13%;
    width: 15%;
  }
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
  .restaurant {
    max-width: 100%;
    .card {
      width: 48%;
      .new_frame {
        left: 20px;
      }
    }
  }
}

/* les keyframes */

@keyframes anim_meal {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
